<div class="row">
    <div class="col-xl-8">
        <h1>Game {{ game.title }}</h1>
    </div>
    <div class="col-xl-4">
        <button class="btn btn-md btn-danger" style="width: 100%">Tracking Code<br>{{ game.trackingCode }}</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-sm-4" *ngFor="let classe of game.classes">
        <app-card-class [game]="game._id" [version]="game.version._id" [classe]="classe._id"></app-card-class>
    </div>
</div>

<app-new-class [game]="game._id" [version]="game.version._id"></app-new-class>